<%- include('partials/head') %>
    <h1 class="text-center" style="font-size: 100px;">CJSDB</h1>
    <div class="container text-center">
        <div class="row justify-content-center">
            <form method="GET" action="/checkout">
                <button type="submit" class="btn homeButton">
                    CHECKOUT
                </button>
            </form>
            
        </div>
        <div class="row justify-content-center">
            <button class="btn homeButton" >
                INVENTORY
            </button>
        </div>
        <div class="row justify-content-center">
            <button class="btn homeButton" >
                MANAGE
            </button>
        </div>
        <div class="row justify-content-center">
            <button class="btn homeButton" style="margin-bottom: 100px;">
                LOGOUT
            </button>
        </div>
    </div>
<%- include('partials/end') %>